<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.bean.User">
        <result column="id"  property="id" ></result>
        <result column="user_name"  property="username" ></result>
        <result column="pass_word"  property="password" ></result>
    </resultMap>

    <select id="findUserByName" resultMap="BaseResultMap">
        select user_name,pass_word from user where user_name=#{username}
    </select>

    <insert id="regist">
        insert into user(user_name, pass_word) values(#{username},#{password})
    </insert>

    <select id="login" resultType="Integer">
        select id from user where user_name = #{username} and pass_word = #{password}
    </select>
</mapper>